name: Main workflow
on:
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: macOS-latest
    timeout-minutes: 10
    strategy:
      matrix:
        api-level: [21, 23, 29]
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: build, test and lint
      run: |
        npm install
        npm run build
        npm run lint
        npm test

    - name: run action
      uses: ./
      with:
        api-level: ${{ matrix.api-level }}
        target: google_apis
        arch: x86_64
        profile: Nexus 6
        emulator-options: -no-window -no-snapshot -noaudio -no-boot-anim -camera-back emulated
        disable-animations: true
        script: adb devices -l
