name: Main workflow
on:
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        api-level: [16, 23, 29]
        exclude:
          - os: ubuntu-latest
            api-level: 23
          - os: ubuntu-latest
            api-level: 29
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: validate gradle wrapper
      uses: gradle/wrapper-validation-action@v1

    - name: build, test and lint
      run: |
        npm install
        npm run build
        npm run lint
        npm test

    - name: Java 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
    - name: Clean cache
      if: matrix.os == 'macos-latest'
      run: mv ~/.gradle/caches ~/.gradle/.invalid_caches
    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
    - name: run action
      uses: ./
      with:
        api-level: ${{ matrix.api-level }}
        target: default
        arch: x86
        profile: Nexus 6
        emulator-options: -no-window -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim -camera-back none
        disable-animations: true
        working-directory: ./test-fixture/
        script: |
          echo $GITHUB_REPOSITORY
          adb devices
          ./gradlew help
          ./gradlew connectedDebugAndroidTest
